p {
  margin: 0;
  padding: 0;
}
body {
  float: left;
  padding-bottom: 80px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: product sans;
}

.header {
  /* uncomment to make fixed header */
  /* position: fixed; */
  position: absolute;
  float: left;
  width: 100%;
  height: 175px;
  background-color: #E90A4390;
  backdrop-filter: saturate(180%) blur(40px);
  z-index: 99999;
}

.redhead {
  position: absolute;
  width: 100%;
  height: 175px;
  background-color: #E90A43;
}

.logo {
  color: white;
  text-align: center;
  font-size: 78px;
  font-family: product sans;
  font-weight: bold;
  margin-top: 38px;
}

.center {
  width: 80%;
  margin: 0 auto;
}

.card {
  width: calc(50% - 10px);
  height: 390px;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  float: left;
  box-shadow: 0 10px 10px #59041A50;
  margin-bottom: 20px;
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 0 #59041A50;
  transform: scale(0.99);
}

.cleft {
  margin-right:20px;
}

.mainarea {
  margin-top: 175px;
  width: 100%;
  float: left;
}

.cardimg {
  width: 100%;
  height: 290px;
  float: left;
  object-fit: cover;
}

.cardpersondiv {
  float: left;
  width: 100px;
  height: 100px;
}

.cardpersonimg {
  width: 70px;
  height: 70px;
  margin: 15px 0 0 15px;
  border-radius: 35px;
  object-fit: cover;
  float: left;
}

.carddetails {
  width: calc(100% - 100px);
  float: left;
  height: 100px;
  padding: 25px 0;
  box-sizing: border-box;
}

.cardtitle {
  font-weight: bold;
  font-size: 20px;
  width: calc(100% - 15px);
  float: left;
  color: black;
}

.cardpersonname {
  font-size: 18px;
  color: #AAAAAA;
  width: calc(100% - 15px);
  float: left;
}

.cardtitle, .cardpersonname {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  overflow: hidden;
}

.pageheader {
  background-image: url(stuff/iphone 1.jpg);
  background-size: cover;
  background-position-y: center;
  float: left;
  width: 100%;
  height: 250px;
  position: relative;
}

.pageheaderoverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to top, #00000060 0%, #00000030 100%);
} 

.pagetitle {
  font-size: 40px;
  font-weight: bold;
  color: white;
  left: 5%;
  right: 20%;
  top: 40%;
  position: absolute;
/*   text-shadow: 0px 5px 15px black; */
}

.pagecaption {
  font-size: 20px;
  color:white;
  left:5%;
  right:20%;
  bottom:30%
}

.enterbutton {
  width: 100%;
  float: left;
  margin: 50px 0;
  background-color: #E90A43;
  height: 160px;
}

.enterbuttontext {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 55px;
}

.leftdesc {
  float: left;
  width: calc(60% - 10px);
}

.rightdesc {
  float: right;
  width: calc(40% - 10px);
}

.descauthor {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}

.descimg {
  width: 75px;
  height: 75px;
  margin-right: 15px;
  border-radius: 37.5px;
  object-fit: cover;
  float: left;
}

.descpersondetails {
  width: calc(100% - 90px);
  float: left;
  padding: 12px 0;
  box-sizing: border-box;
}

.titles {
  font-size: 30px;
  color: black;
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.text {
  color: black;
  font-size: 14px;
  width: 100%;
  float: left;
}

.trustdiv {
  width: 100%;
  float: left;
  box-shadow: 0 2px 3px #00000050;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 23px;
  box-sizing: border-box;
}

.trusttitle {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  margin-left: 20px;
  float: left;
}

.trusttext {
  float: left;
  width: 100%;
  color: black;
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
  margin-top: 15px;
}

.badgeimg {
  height: 75px;
  float: left;
  margin-top: -43px;
}

.free {
  text-align:center;
  
