
:root {
    --theme: #da0050;
    --black: #000000;
    --white: #ffffff;
    --gray: #222222;
}

/* General */
* {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  align-items: center;
  background-color: var(--theme);
}

.header.trans {
  background-color: transparent;
  position: absolute;
}

.header_left {
}

.header_right {
  color: var(--white);
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header_logo {
  width: 100px;
  float: left;
}

.header_register {
  padding: 20px;
  background-color: #00000047;
  border-radius: 2em;
}

.header_register:hover {
  background-color: var(--black);
}

.header_menu {
  margin-right: 30px;
}

.header_menu li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

.header_menu_item_a {
  padding: 20px;
}

.header_menu_item_a:hover {
  opacity: 0.7;
}

/* Footer */

.footer {
  width: 100%;
  color: var(--white);
  background-color: var(--theme);
}

.footer_main {
  padding: 30px 0;
}

.footer_cr {
  text-align: center;
  padding: 20px;
}

/* Center */

.center {
  width: 1200px;
  margin: 0 auto;
}

/* Home Page */

.hp_front {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(180deg, var(--theme), #960339);
  color: var(--white);
}

.hp_front_title {
  font-weight: 700;
  font-size: 55px;
}

.hp_front_subtitle {
  font-weight: 400;
  font-size: 52px;
}

/* Page */

.page_header {
  background-color: var(--gray);
  background-size: cover;
  background-position-y: center;
  float: left;
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.page_header_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to top, #00000060 0%, #00000030 100%);
}

.page_header_info {
  margin-bottom: 45px;
  position: relative;
}

.page_header_title {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.page_header_caption {
  font-size: 20px;
  color: var(--white);
}

.page_content {
  padding: 50px 0;
  display: inline-block;
  width: 100%;
}

/* Login */

.login_box {
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  margin: 0 auto;
}

.login_box_header {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 120px;
  color: #E90A43;
}

.login_input_text {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.login_input_submit {
  background-color: #E90A43;
  color: white;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px auto 0 auto;
  transition: opacity 0.3s ease-in-out;
}

.login_input_submit:hover {
  opacity: 0.9;
}

.login_input_submit:active {
  transform: scale(0.95);
}

.login_error_text {
  margin-top: 10px;
}

.switch_login_method {
  font-size: 15px;
  color: #E90A43;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px auto 0 auto;
  transition: background-color 0.3s ease-in-out;
  width: fit-content;
}

.switch_login_method:hover {
  background-color: #e90a4314;
}
