
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

:root {
    --theme: #da0050;
    --black: #000000;
    --white: #ffffff;
    --gray: #222222;
}

/* General */
* {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}


a {
  text-decoration: none;
  color: inherit;
}

/* Header */

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  align-items: center;
  background-color: var(--theme);
}

.header.trans {
  background-color: transparent;
  position: absolute;
}

.header_left {
}

.header_right {
  margin-left: auto;
}

.header_right_list {
  color: var(--white);
  display: flex;
  align-items: center;
}

.header_logo {
  width: 100px;
  float: left;
  transition: 0.2s;
}

.header_logo:hover {
  transform: scale(0.98);
}

.header_register {
  padding: 20px;
  background-color: transparent;
  border-radius: 50px;
  border: 3px solid var(--white);
  font-weight: 600;
}

.header_register:hover {
  background-color: var(--white);
  color: var(--theme);
}

.header_menu {
  margin-right: 30px;
}

.header_menu_item {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

.header_menu_item_a {
  padding: 20px;
}

.header_menu_item_a:hover {
  opacity: 0.7;
}

/* Footer */

.footer {
  width: 100%;
  color: var(--white);
  background-color: var(--theme);
  padding: 80px 0 160px;
}

.footer_main {
  display: flex;
  flex-direction: row;
}

.footer_main_login {
  width: 350px;
  margin: 0 100px 0 0;
}

.footer_main_login_text {
  font-size: 22px;
  font-weight: 600;
}

.footer_main_rs {
  width: 130px;
  margin: 18px 0 12px;
  box-sizing: border-box;
  background-color: #fff;
  display: block;
  padding: 12px 15px 11px;
  color: var(--theme);
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  border: 2px solid transparent;
}

.footer_main_rs.inverted {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}

.footer_main_rs:hover {
  opacity: 0.8;
}

.footer_main_pages {
  column-count: 3;
  flex-grow: 1;
}

.footer_main_pages,
.footer_main_pages li ul {
  list-style: none;
}

.footer_main_pages > li {
  padding-bottom: 30px;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}

.footer_main_pages li ul li a {
  font-size: 15px;
  padding: 5px 0;
  opacity: 0.8;
  display: block;
}

.footer_main_pages li ul li a:hover {
  opacity: 1;
}

.footer_main_pages_title {
  font-size: 26px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.footer_bottom {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-top: 20px;
  position: relative;
}

.footer_bottom::before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  height: 1px;
  opacity: 0.3;
  background-color: var(--white);
}

.footer_logo {
  width: 60px;
}

.footer_cr {
  font-weight: 600;
  margin-left: auto;
}

/* Center */

.center {
  width: 1200px;
  margin: 0 auto;
}

/* Home Page */

.hp_front {
  /*width: 100vw;*/
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(180deg, var(--theme), #960339);
  color: var(--white);
}

.hp_front_title {
  font-weight: 700;
  font-size: 55px;
}

.hp_front_subtitle {
  font-weight: 400;
  font-size: 52px;
}

#hp_main {
  margin: 100px 0;
}

.hp_body:not(:last-child) {
  margin-bottom: 100px;
}

.influencerGif {
    width: 300px;
    height: 300px;
    float: right;
    padding-left: 50px;
    padding-right: 5%;
    position: relative;
}
.bouncingGift {
    width: 250px;
    float: left;
    padding-left: 5%;
    padding-right: 50px;

}
.giveawayImg {
    width: 250px;
    float: left;
    padding-left: 5%;
    padding-right: 50px;
    padding-top: 20px;
}
.homeinfo {
    padding: 50px 0;
    text-align: left;
    font-size: 25px;
    border: 10px solid var(--theme);
    border-left: 10px;
    border-bottom: 10px;
    border-right: 10px;
    box-shadow: 5px 12px 16px #8080804a;
    border-radius: 33px;
}
.heading {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 800;
    padding-left: 15px;
}
.description {
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
}
.arrow {
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 90%;
	transform: rotate(-225deg);
  margin-top: -30px;

}
.arrow::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
}
.arrow:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 0 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
}
.arrow:hover::after {
		transform: rotate(45deg);
		border-color: #fafafa;
		height: 120%;
}
.arrow:hover::before {
		border-color: #fafafa;
		transform: scale(.8);
}

/* Page */

.page_header {
  background-color: var(--gray);
  background-size: cover;
  background-position-y: center;
  float: left;
  width: 100%;
  height: 185px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.page_header_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to top, #00000060 0%, #00000030 100%);
}

.page_header_info {
  margin-bottom: 45px;
  position: relative;
}

.page_header_title {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.page_header_caption {
  font-size: 20px;
  color: var(--white);
  opacity: 0.8;
}

.page_header_title,
.page_header_caption {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.page_content {
  padding: 100px 0;
  display: inline-block;
  width: 100%;
}

/* Login */

.login_box {
  max-width: 400px;
  width: 60%;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  margin: 0 auto;
}

.login_box_header {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 120px;
  color: var(--theme);
}

.login_input_text {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.login_input_submit {
  background-color: var(--theme);
  color: white;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px auto 0 auto;
}

.login_input_submit:hover {
  opacity: 0.95;
  transform: scale(.98);
}

.login_input_submit:active {
  transform: scale(0.95);
}

.login_error_text {
  margin-top: 10px;
}

.switch_login_method {
  font-size: 15px;
  color: var(--theme);
  border-radius: 8px;
  padding: 10px 15px;
  margin: 20px auto 0 auto;
  transition: background-color 0.3s ease-in-out;
  width: fit-content;
}

.switch_login_method:hover {
  background-color: #e90a4314;
}

/* Giveaways */

.g_left {
  float: left;
  width: 58%;
}

.g_left > *:not(:last-child),
.g_right > *:not(:last-child) {
  margin-bottom: 40px;
}

.g_right {
  float: right;
  width: 38%;
}

.g_author {
  float: left;
  width: 100%;
}

.g_author_image {
  width: 75px;
  height: 75px;
  margin-right: 15px;
  border-radius: 37.5px;
  object-fit: cover;
  float: left;
}

.g_author_details {
  float: left;
  padding: 12px 0;
  box-sizing: border-box;
  max-width: calc(100% - 90px);
}

.g_author_name {
  font-weight: bold;
  font-size: 20px;
  color: var(--black);
}

.g_author_desc {
  font-size: 18px;
  font-style: italic;
  color: #AAAAAA;
}

.g_image {
  width: 100%;
}

.g_desc {
  font-size: 20px;
}

.g_desc ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.g_entries {
  background-color: #da00500d;
}

.g_entries_row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.g_entries_icon {
  width: 30px;
  padding: 0 10px;
}

.g_entries_row:last-child > .g_entries_icon {
  width: 20px;
  padding: 0 15px;
}

.g_entries_name {
  font-size: 18px;
  margin: 0 10px;
}

.g_entries_button {
  background-color: var(--theme);
  color: white;
  border: none;
  margin-left: auto;
  padding: 5px 10px;
}

.g_entries_button[disabled] {
  opacity: 0.4;
  content: "m";
}

.g_entries_login_message {
  padding: 20px;
}

.g_entries_login_message a {
  color: var(--theme);
}

.g_expires {
  display: flex;
  align-items: center;
}

.g_expires_icon {
  width: 30px;
  margin-right: 15px;
}

.g_expires_text {
  font-size: 25px;
  font-weight: 600;
}

/* Influencers */

.influencer-banner {
  padding: 50px;
  background-image: url(/resources/logo_white_small.svg);
  background-color: #cccccc;
  font-size: 100px;
  height: 100px;
}

.influencer-title {
  padding-top: 35px;
}

.influencer-white {
  padding: 50px;

}

.influencer-red {
  background-color: black;
  color: white;
  padding: 50px;
}

.influencer-white h1 {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
}

.influencer-red h1 {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
}


/*My Account Page CSS*/

body{
  margin:0;
  padding:0;
  background-color: #f7f7f7;
}

header {
background-color: red;
height: 100px;
}

#banner {
  background-color:#222222;
  height: 185px
}

#bannertitle {
  color: white;
  font-size:1.7rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  padding-top: 3rem;
}

#bannerdesc {
  color: white;
  font-size:.8rem;
  text-align: center;
}

.bgc-profilepic {
  background-color: white;
  width: 100px;
  height: 100px;
}

div .pic3 {
  width: 100px;
  height: 100px;
  border-radius: 70px;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}


/*.loginBoxHeader {
  font-weight: bold;
  font-size: 120px;
  color: #E90A43;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 30px; 
}*/

.myAccountHeader {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 120px;
  color: var(--theme);
}

#mainarea {
  margin: auto auto ;
  width:70%;
  display: flex;
  justify-content: normal;
  flex-direction: row; 
  min-height: 500px;
  transition: 0.5s;
}

.desc {
  background-color:white;
  padding:20px;
  margin:20px;
}

 .myaccountlist2 {
    list-style-type: none;
    padding:0.5rem;
    text-align: left; 
    color:#222222;

    }

.list {
  margin-top:0.9rem;
  padding-top: 0.5rem;
}

.list1 {
  margin-top: 0
  padding:0;
}
 .list a, .list1 a {

  color: #222222;
  background-color: none;
  text-decoration: none;



}


.active a {
  color:#E90A43;
  font-size: 1.2rem;
  font-weight: 500;
}


/*.active span {
  background-color: #E90A43;
  float: right;
  padding:10px 0 10px 0;
  width: 3px;
  margin-top: 4.5px;
}*/


.leftdesc {
  width: 130px;
  max-height: 180px;
  margin-right: 10px;
  font-size: 1rem;
  border-radius: 15px;
  box-shadow: 0px 15px 30px 0 rgb(0 0 0 / 30%);

}

.rightdesc {
  margin-left: 10px;
  padding:50px;
/*  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
  border-radius: 5px;*/
  border-radius: 15px;
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
}

.descarea {
  display: flex;
    flex-direction: row; 

}

.desc-title {
  font-size: 1.3rem;
}

.row {
  margin-bottom: 1.5rem;
}

.nameinput::placeholder {
  width: 100%;
  color:gray;
}

.nameinput {
  margin-bottom: 0.4rem;
  width: 100%;
  color:black;
  font-size: 1rem;
}


.row input:not(.sub-button):not(.sub-button2):not(.sub-button3), .row textarea, .row select{
  background-color: #eeeeee;
  border:none;
  padding:0.9rem;
  border-radius: 3px;
}





.supportinput::placeholder {
  width: 100%;
  color:gray;
}

.supportinput {
  width: 100%;
  color:black;
  font-size: 1rem;
  padding:0.3rem;
}


.support-dropdown {
  width:100%;
  padding: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

.support-dropdown option {
  cursor: pointer;
}

.support-message {
  width: 100%;
  min-height: 10rem;
  color:black;
  font-size: 1rem;
  padding:0.3rem;

}

.support-message::placeholder {
  color:gray;

}


.message-title2 {
  margin-bottom:0.1rem;
}

.left-label {
  font-weight: 600;

}



#female {
  margin-left: 1rem;
}



/*Tabs*/
/* Style the tab */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/*Tabs*/

.desc2 {
  display: none;

}

.desc3 {
  display: active;
}

.save-email {
  margin-top: 0.55rem;
}

.btn-r {
  display: flex;
  justify-content: flex-end;
}

.sub-button {
  background-color: #E90A43;
  color: white;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.sub-button:hover {
  opacity: 0.9;
  transform: scale(0.95);
}

.sub-button:active {
  transform: scale(.92);
}

.sub-button2 {
  background-color:#E90A43;
  color:white;
  width: 4.5rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  border:none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.sub-button2:hover {
  opacity: 0.9;
  transform: scale(0.95);
}

#add-card {
  width:9rem;
}

#add-card:hover {
  opacity: 0.96;
  transform: scale(1.009);
}

#add-card:active {
  transform: scale(1.014);
}

.ccard-name1 {
  width: 47%;
  float: left;
}


.ccard-name2 {
  width: 47%;
  float: right;
}

.ccard-num {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.ccard-final-row {
    display: flex;
      flex-direction: row; 
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1rem;
}

.ccard-date {
  width: 30%
}

.subject-issue {
  margin-top: 3rem;
}


.topNav {
  margin: auto auto;
  width: 100px;
  margin-top: 50px;

}

.topNav-dropdown {
  width:183px;
  height: 50px;
  padding: 0.5rem;
  padding-left: 0.9rem;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: -44px;
  border-radius: 16px;
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);

}



@media screen and (max-width: 991px) {
  #mainarea {
    justify-content: center;
  }

}

@media screen and (max-width: 768px) {
  #mainarea {
    width: 80%;
  }

}
/*My Account Page*/











/**************** RESPONSIVE DESIGN ****************/

@media screen and (max-width: 1350px) {
  .center {
    width: 1000px;
  }
}

@media screen and (max-width: 1100px) {
  .center {
    width: 800px;
  }

  /* Home Page */

  .hp_front_title {
    font-size: 45px;
  }

  .hp_front_subtitle {
    font-size: 42px;
  }
}

@media screen and (max-width: 900px) {
  .center {
    width: 85%;
  }

  /* Header/Footer */

  .header {
    padding: 30px;
  }

  .header_logo {
    width: 80px;
    transition: 0.2s;
  }


  .footer {
    padding: 80px 0;
  }

  .footer_main_login {
    width: 250px;
    margin: 0 8% 0 0;
  }

  .footer_main_pages {
    column-count: 2;
  }

  /* Home Page */

  .hp_front_title {
    font-size: 38px;
  }

  .hp_front_subtitle {
    font-size: 35px;
  }

  /* Page */

  .page_header {
    height: 150px;
  }

  .page_header_title {
    font-size: 28px;
  }

  .page_header_caption {
    font-size: 16px;
  }

  .page_content {
    padding: 60px 0;
  }

  /* Giveaways Page */
  .g_left, .g_right {
    float: left;
    width: 100%;
  }

  .g_left {
    margin-bottom: 40px;
  }

  .g_expires {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {

  /* Header/Footer */

  .footer_main {
    flex-direction: column;
  }

  .footer_main_login {
    margin: 0 0 40px 0;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {

  /* Header/Footer */

  .header_right_list {
    display: none;
  }

  .footer {
    padding: 40px 0;
  }

  .footer_main_login_text {
    font-size: 20px;
  }

  /* Home Page */

  .hp_front_title {
    margin-bottom: 10px;
  }

  .hp_front_subtitle {
    font-size: 25px;
  }

  /* Page */

  .page_header {
    height: 125px;
  }

  .page_header_info {
    margin-bottom: 35px;
  }

  .page_header_title {
    font-size: 22px;
  }

  .page_header_caption {
    font-size: 14px;
  }

  .page_content {
    padding: 40px 0;
  }

  /* Giveaways Page */

  .g_author_image {
    width: 50px;
    height: 50px;
  }

  .g_author_details {
    padding: 5px 0;
  }

  .g_author_name {
    font-size: 18px;
  }

  .g_author_desc {
    font-size: 15px;
  }

  .g_desc {
    font-size: 16px;
  }

  .g_expires_icon {
    width: 22px;
  }

  .g_expires_text {
    font-size: 20px;
  }

  .g_entries_name {
    font-size: 16px;
  }

}
